.products {
  padding-top: 7rem;
}

.product {
  height: 380px;
  overflow: hidden;
}

.product:hover {
  transform: scale(1.1);
}

.product-img {
  max-height: 50%;
}

.product-img img {
  height: 180px;
  width: 200px;
}

.product-title {
  height: 15%;
}

.cart-btn {
  width: 100%;
  background-color: purple;
  border: none;
  z-index: 10;
}

.cart-btn:hover {
  background-color: purple;

  opacity: 0.9;
}

.cart-btn:disabled {
  z-index: 10;
  background-color: grey;
}
